@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Share Tech Mono', monospace; /* Police rétro */
  background-color: #000;
  color: white;
  overflow-x: hidden;
}

/* Barre de défilement personnalisée */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}

/* Animation pour l'effet écran rétro */
@keyframes scanline {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}
